.chatInput {
  border-radius: 20px;
}

.channelInput > form {
  display: flex;
  justify-content: center;
  position: fixed;
}

.chatInput > form > input {
  bottom: 30px;
  width: 60%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 20px;
  border: #49274b solid;
  border-radius: 10px;
}

.chatInput > form > button {
  margin-left: 10px;
  padding: 20px;
  border: #49274b solid;
  border-radius: 10px;
}
